<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../Exercise1.css">
</head>
<body>
  <div class=" container--video">
    <h1 class = "subtitle">Lorem ipsum dolor sit amet.</h1>
    <video
    class="videoElement"
    src="https://songz.c0d3.com/js4/exercises/pubDomainRemix.mp4"
    controls
  ></video>
  
</div>
</body>
</html>