body{
  background-color: white;
  margin: 1px;
}


.header{
  width: 850px;
  margin: auto;
  border: 1px solid black; 
  height: 370px;
  position: relative;
}

.img--profile{
  border: 5px solid white;
  border-radius: 50%;
  position: absolute;
  bottom: 15px;
  left: 15px; 
  box-sizing: border-box; 

}

.img--background{
  width: 100%;
  filter: blur(2px); 
}

.navbar { 
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: 1.5rem;
  padding-left: 160px;
  margin: 0;
}

.profileTitle{
  font-family:sans-serif;
  display: block;
  position: absolute;
  color: white;
  bottom: 25px;
  left: 225px;
  font-size: 3rem;
  font-weight: 300

}


